/* Search Box Styles */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* Adjust as needed */
}

.search-box {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;
}

.search-btn {
  padding: 10px 15px;
  background-color: #eda70d;
  color: #862633;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Menu Bar Styles */
header {
  background-color: #862633;
  padding: 10px;
  text-align: left;
}

nav {
  /* background-color: #EDA70D; */
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  font-size: 18px;
}

/* Container Styles */
.container {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Card Styles */
.card {
  width: 30%;
  margin: 20px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.card-content {
  padding: 20px;
}

.card h3 {
  color: #333;
}

.card a {
  background-color: #eda70d;
  color: #862633;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

/* Footer Styles */
footer {
  background-color: rgb(134, 38, 51);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer > a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media only screen and (min-width: 730px) {
  .menuLink {
  }
}

@media only screen and (max-width: 730px) {
  .menuLink {
    display: none;
  }
}

@media only screen and (min-width: 730px) {
  #hamburger {
    display: none;
  }
}
